name: Deploy Page

on:
   push:
      branches:
         - main

permissions:
   contents: write
   pages: write
   id-token: write

concurrency:
   group: deploy
   cancel-in-progress: true

jobs:
   
